
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: pink;
}

.page-container {
  display: flex;
}


/* .page-container > * > * {
  flex-direction: row;
  align-items: flex-end;
  justify-items: right;
} */
